<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<script src="https://code.jquery.com/jquery.js"></script>
	<title>HandleBarger App</title>
</head>

<body>
	{{{ body }}}
</body>
<script>
	$(function () {
		$(".eat").on("click", function (event) {
			var id = $("this.id");
			console.log("Burger Chosen - js worked");

			$.ajax("/api/burgers/" + id, {
				type: "PUT",
				devoured: true
			}).then(
				function () {
					location.assign("/");
				}
			);
		});
	})
</script>

</html>